:root {
    --color-primary-white:#FFFFFF;
    --color-primary-blue:#2B7FFF;
    --color-primary-dark-blue:#011C44;
    --color-secondary-dark-grey:#4A4A4A;
    --color-secondary-grey:#747272;
    --color-secondary-dark-blue:#011F4A;
    --color-secondary-yellow:#FFD02B;

}

$bp-desktop: 1280px;
$bp-tablet: 768px;
$bp-mobile: 480px;